@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&family=Work+Sans:wght@300;400;500;600;700&display=swap");

/*font-family: 'Lora', serif;
 font-family: 'Work Sans', sans-serif; */
/* ! PREPEI NA VGALW TO BG COLOR APO STORY & NAV KAI NATO VALW STO SECTION */
/* todo xromata */
/* #2e2e2e / 
 #fff / 
 #000 /
  #1d2c2f */

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: auto;
  max-width: 1400px;
  font-family: "Work Sans", sans-serif;
}

/* ! to ul sto footer */
h1,
h2,
.toP,
footer {
  font-family: "Lora", serif;
}

/* font-size */
/* !prepei na epistrepsw na diaksw footer labels galery (grammata) */
h1 {
  font-size: 8.768rem;
  font-weight: 600;
}

/* p katw apo to h1 */
.toP {
  font-size: 2.33rem;
  font-weight: 600;
}

h2 {
  font-size: 4.815rem;
}

ul {
  padding: 0;
  list-style-type: none;
  font-size: 2.2rem;
  font-weight: 500;
}

p {
  font-size: 1.863rem;
  line-height: 1.5;
}

/* flex */

.flex {
  display: flex;
  flex-direction: column;
}

/* first header */

.first-lay div:first-child {
  text-align: center;
}
.first-lay div:first-child h1 {
  margin-bottom: 4rem;
  letter-spacing: 1.5rem;
}

.first-lay div:first-child p {
  word-spacing: 5px;
}

/* isws dn xriazete k mporw na valw mono to img */
img {
  width: 100%;
  object-fit: contain;
}
/* .first-lay div:last-child img {
  width: 100%;
  object-fit: contain;
} */

@media (min-width: 1200px) {
  .flex {
    flex-direction: row;
  }

  .first-lay div:first-child {
    width: 40%;
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .first-lay div:last-child {
    width: 70%;
  }
}

/* first nav */

.first-nav {
  background-color: #2e2e2e;
  color: white;
  display: flex;
  flex-direction: column;

  position: sticky;
  top: 0;
}

.first-nav span {
  align-self: center;
}

.first-nav span img {
  width: auto;
}

.first-nav .first-ul {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
}

@media (min-width: 1200px) {
  .first-nav {
    flex-direction: row;
    align-items: center;
  }

  .first-nav span {
    flex: 1;
  }

  .first-nav .first-ul {
    flex: 3;
  }
}

/* story */

.story {
  padding: 1rem;
}

.story-color {
  background-color: #2e2e2e;
  color: white;
}

.text {
  margin-top: auto;
}

.text h2 {
  text-align: center;
}

.text p {
  margin-bottom: 3rem;
  line-height: 1.5;
  word-spacing: 5px;
}

.foto {
  margin: auto;
}

@media (min-width: 1200px) {
  .story {
    padding: 0rem;
    height: 90vh;
  }

  .flex {
    justify-content: space-between;
  }

  .text {
    order: 2;
    width: 40%;
    text-align: left;
    margin: auto;
  }

  .foto {
    width: 55%;
  }
}

/* gallery */

.gallery-container {
  color: #2e2e2e;
  display: flex;
  flex-direction: column;
}

.gallery-container h2 {
  color: black;
}

.gal-text {
  text-align: center;
  margin-bottom: 4rem;
}

.gal-text p {
  display: inline-block;
  text-align: left;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery div:last-child {
  width: 450px;
}

.gallery div {
  text-align: center;
  width: 400px;
  margin: auto;
  margin-bottom: 3rem;
}

.gallery div span {
  display: inline-block;
  margin-top: 0.4rem;
  font-size: 1.8rem;
  font-weight: 500;
}

@media (min-width: 1200px) {
  .gallery-container {
    margin-top: 20rem;
  }
  .gallery {
    row-gap: 5rem;
  }
}

/* footer */
footer {
  height: 100vh;
  color: white;
  background-color: #2e2e2e;
  display: flex;
  flex-direction: column;
}

footer section {
  margin-bottom: 4rem;
  padding: 4rem 4rem 0;
}

.text-foot {
  margin-bottom: 4rem;
}

.text-marg {
  margin: 4rem auto 4rem auto;
}

/* form */

/* !dn xreiazete */
form {
  margin: auto;
}
label {
  display: block;
  font-size: 2rem;
}

footer input,
textarea {
  padding: 0.8rem 0;
  display: block;
  width: 80%;
}

form div {
  margin-bottom: 4rem;
}

form button {
  color: black;
  font-weight: 500;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

/* ul */

footer ul {
  margin-top: auto;
  text-align: center;
  background-color: #1d2c2f;
}

footer ul li {
  padding: 1rem;
}

@media (min-width: 1200px) {
  footer section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 0;
  }

  footer section .text-foot {
    width: 40%;
  }

  .text-foot {
    word-spacing: 7px;
  }
  footer section form {
    width: 35%;
  }

  footer input,
  textarea {
    width: 100%;
  }
  footer ul {
    margin-top: 0;
    display: flex;
  }

  footer ul li {
    padding: 2rem;
  }

  footer ul li:nth-child(2) {
    margin: 0 auto;
  }
}
