<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="first-lay flex">
      <div>
        <article>
          <h1>H & H</h1>
          <p class="toP">~ THE INTERIOR STANDARD ~</p>
        </article>
      </div>
      <div>
        <img src="/img/design-interior-1.jpg" alt="" />
      </div>
    </header>
  </body>
</html>
