<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>H&H</h1>
    <p class="toP">THE INTERIOR STANDARD</p>
    <ul>
      <li>H&H</li>
      <li>OUR STORY</li>
      <li>DESIGNS</li>
      <li>CONTACT</li>
    </ul>
    <h2>OUR STORY</h2>
    <p>
      Furnishing your home can be quite overwhelming at times, at least that's
      how it was for us. H&H was born to help others going through the maze that
      is interior design. We decided to curate interior design modern trends,
      inspirations, tips and tricks from the vast interior collective to help
      you bring your home to life.
    </p>
  </body>
</html>
