<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Document</title>
  </head>
  <body>
    <footer>
      <section>
        <div class="text-foot">
          <h2>GET IN TOUCH</h2>
          <p class="text-marg">We would love to hear from you!</p>
          <p>
            If you would like to receive our monthly catalogue subscribe by
            filling in the form with your name and email address
          </p>
        </div>
        <form>
          <div>
            <label for="name">Name</label>
            <input id="name" type="text" placeholder="Enter name" required />
          </div>
          <div>
            <label for="email">Email</label>
            <input id="email" type="email" placeholder="Enter email" required />
          </div>
          <div>
            <label for="text">Message</label>
            <textarea name="text" id="text" placeholder="Optional"></textarea>
          </div>
          <button type="submit">Submit</button>
        </form>
      </section>
      <ul>
        <li>COPYRIGHT 2019</li>
        <li>CREATED WITH LOVE</li>
        <li>PRIVACY</li>
        <li>TERMS</li>
        <li>CONTACT</li>
      </ul>
    </footer>
  </body>
</html>
